.err {
  color: white;
  background-color: rgb(255, 166, 0);
  width: 50%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
}

button {
  padding: 10px;
  border-radius: 7px;
  color: white;
  border: 0px;
  float: right;
  width: 20%;
  font-size: 15px;
  margin-right: 10px;
  background-color: #218838;
}

input {
  border: 1px solid #bdbdbd;
  border-radius: 5px;
  padding: 10px;
  width: 70%;
}
